/*createOrder-content*/
.createOrder-content .banner-bg {
    margin: 25px auto;
}

.createOrder-content .detail h4 {
    line-height: 42px;
    width: 190px;
    text-align: center;
    border-bottom: 2px solid #888888;
    font-size: 18px;
    cursor: pointer;
    color: #888888;
}

.createOrder-content .order-address {
    margin: 15px 15px;
}

.createOrder-content .message {
    margin-left: 15px;
    color: #FF5722;
}

.createOrder-content .commodity-img {
    float: left;
    width: 98px;
    height: 98px;
    border: 1px solid #ececee;
    margin-right: 20px;
}

.createOrder-content .commodity-price {
    margin-right: 5px;
}

.createOrder-content .buy-count {
    margin-left: 5px;
}

.createOrder-content .text{
    text-align: left;
    line-height: 24px;
    width: 340px;
}

.createOrder-content .text .title {
    color: black;
}

.createOrder-content .th-amount {
    width: 200px;
}

.createOrder-content .th-amount div.layui-btn, .createOrder-content .th-amount input {
    float: left;
    border: 1px solid #e2e2e2;
    text-align: center;
    background: #ffffff;
    margin-left: -1px;
    color: #999999;
}

.createOrder-content .th-amount div.layui-btn {
    width: 28px;
    height: 38px;
    padding: 0;
}

.createOrder-content .th-amount input {
    width: 46px;
    height: 36px;
}

.createOrder-content .th-amount .box-btn {
    padding-left: 52px;
}

.createOrder-content .order-pay{
    margin-top: 10px;
}

.createOrder-content .order-footer{
    height: 200px;
    margin-top: 20px;
}

.createOrder-content .order-footer .total{
    text-align: right;
}

.createOrder-content .order-footer .totalNum{
    margin-left: 10px;
    font-size: 35px;
    color: #009688;
}

.createOrder-content .order-footer button{
    float: right;
    margin-top: 20px;
}
/*end-createOrder-content*/


/*orderlist-content*/
.orderlist-content  .th{float: left; text-align: center;}
.orderlist-content .th-item{width: 340px; text-align: left; padding-left: 30px; box-sizing: border-box;}

.orderlist-content .th-price{width: 200px; margin-top: 20px;margin-left: 50px;}
.orderlist-content .th-amount{width: 200px; }
.orderlist-content .th-count{width: 200px; margin-top: 20px;margin-left: 50px;}
.orderlist-content .th-op{width: 100px;}
.orderlist-content .item-content{border:1px solid #ececee; border-bottom: 0; height: 140px; padding:20px 0 0 0; box-sizing: border-box; position: relative;}
.orderlist-content .order-content .th-chk{margin-top: 35px; position: relative; z-index: 2;}
.orderlist-content .order-content .th-item{position: relative; z-index: 1;}
.orderlist-content .order-content .th-amount div.layui-btn,.orderlist-content .order-content .th-amount input{float: left; border:1px solid #e2e2e2; text-align: center; background: #ffffff; margin-left: -1px; color: #999999;}
.orderlist-content .order-content .th-amount div.layui-btn{width: 28px; height: 38px; padding:0;}
.orderlist-content .order-content .th-amount input{width: 46px; height: 36px;}
.orderlist-content .order-content .th-amount .box-btn{padding-left: 52px;}
.orderlist-content .order-content .th-sum span{line-height: 24px; color: #ee0000; font-weight: bold; }
.orderlist-content .order-content .th-op span{display: block; cursor: pointer; line-height: 24px;}
.orderlist-content .order-content .th-item .item-cont img{float: left; width: 98px; height: 98px;  border:1px solid #ececee; margin-right: 20px;}
.orderlist-content .order-content .th-item .item-cont .text{text-align: left; line-height: 24px;}
.orderlist-content .order-content .th-item .item-cont .text .title{color: #333333;}
.orderlist-content .order-content .th-item .item-cont .text p{color: #888;}
.orderlist-content .FloatBarHolder{line-height: 78px; border:1px solid #ececee; background: #f5f5f5; position: relative;}
.orderlist-content .FloatBarHolder .th-chk {width: 150px;}
.orderlist-content .FloatBarHolder .batch-deletion span{cursor: pointer;}
.orderlist-content .FloatBarHolder .Settlement,.orderlist-content .FloatBarHolder .total{float: right;}
.orderlist-content .FloatBarHolder .Settlement button.layui-btn{width: 160px; height: 84px; line-height: 84px; font-size: 24px; color: #fff; text-align: center; background: #ff5500; border-radius: 0; position: absolute; right: 0px; top: -1px;}
.orderlist-content .FloatBarHolder .total{margin-right: 230px;}
.orderlist-content .FloatBarHolder .total span{color: #ee0000; font-size: 26px; font-weight: bold; padding-left: 5px;}
.orderlist-content .FloatBarHolder .th-chk .select-all label{letter-spacing: 4px;}

.orderlist-content .detail h4 {
    line-height: 42px;
    width: 190px;
    text-align: center;
    border-bottom: 2px solid #888888;
    font-size: 18px;
    cursor: pointer;
    color: #888888;
}

.orderlist-content .padding-zero{
    padding: 0;
}

.orderNum{
    display: inline-block;
    width: 220px;
}

.amount{
    float: right;
    width: 125px;
    color: #009688;
}

.dateTime{
    margin-left: 25px;
}

.orderStatus{
    width: 110px;
    float: right;
    margin-right: 15px;
}

.orderStatus span{
    color: #FF5722;
}

/*end-orderlist-content*/