<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.all.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<div class="nav-layui">
    <div th:replace="common::navigationBar"></div>
</div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="母婴商城">
                    <img src="/img/logo.png">
                </a>
            </h1>
            <div th:replace="common::navigationSearch"></div>
        </div>
    </div>
</div>


<div class="content content-nav-base shopcart-content">
    <div th:replace="common::navigationNav"></div>
    <div th:replace="common::commonCarousel"></div>
    <div class="cart w1200">
        <div class="cart-table-th">
            <div class="th th-chk">
                <div class="select-all">
                    <div class="cart-checkbox">
                        <input class="check-all check" id="allCheckked" type="checkbox" value="true">
                    </div>
                    <label>&nbsp;&nbsp;全选</label>
                </div>
            </div>
            <div class="th th-item">
                <div class="th-inner">
                    商品
                </div>
            </div>
            <div class="th th-price">
                <div class="th-inner">
                    单价
                </div>
            </div>
            <div class="th th-amount">
                <div class="th-inner">
                    数量
                </div>
            </div>
            <div class="th th-sum">
                <div class="th-inner">
                    小计
                </div>
            </div>
            <div class="th th-op">
                <div class="th-inner">
                    操作
                </div>
            </div>
        </div>
        <div class="OrderList">
            <div class="order-content" id="list-cont">
                <ul th:unless="${#lists.size(shoppCarts) > 0}" class="item-content layui-clear">
                    <p class="commodity-not">购物车暂无商品！</p>
                </ul>
                <ul th:if="${#lists.size(shoppCarts) > 0}" th:each="shoppCart : ${shoppCarts}"
                    class="item-content layui-clear">
                    <li class="th th-chk">
                        <div class="select-all">
                            <div class="cart-checkbox">
                                <input class="CheckBoxShop check" type="checkbox" name="select-all"
                                       value="true" th:data-id="${shoppCart.commodity.commodityId}">
                            </div>
                        </div>
                    </li>
                    <li class="th th-item">
                        <div class="item-cont">
                            <a target="_blank" th:href="@{/gotoCommodityDetail(commodityId=${shoppCart.commodity.commodityId},categoryId=${shoppCart.commodity.categoryId})}">
                                <img th:src="@{${shoppCart.commodity.coverImg}}" alt="">
                            </a>
                            <div class="text">
                                <div class="title"
                                     th:text="${#strings.abbreviate(shoppCart.commodity.commodityName,12)}"></div>
                                <p th:text="${#strings.abbreviate(shoppCart.commodity.commodityIntro,24)}"></p>
                            </div>
                        </div>
                    </li>
                    <li class="th th-price">
                        <span class="th-su" th:text="${shoppCart.commodity.sellingPrice}"></span>
                    </li>
                    <li class="th th-amount">
                        <div class="box-btn layui-clear">
                            <div class="less layui-btn">-</div>
                            <input class="Quantity-input" type="text" name="" th:value="${shoppCart.commodityCount}"
                                   disabled="disabled">
                            <div class="add layui-btn">+</div>
                        </div>
                    </li>
                    <li class="th th-sum">
                        <span class="sum" th:text="${shoppCart.commodity.sellingPrice}"></span>
                    </li>
                    <li class="th th-op">
                        <span class="dele-btn" th:data-id="${shoppCart.cartId}">删除</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="FloatBarHolder layui-clear">
            <div class="th th-chk">
                <div class="select-all">
                    <div class="cart-checkbox">
                        <input class="check-all check" id="" name="select-all" type="checkbox" value="true">
                    </div>
                    <label>&nbsp;&nbsp;已选<span class="Selected-pieces">0</span>件</label>
                </div>
            </div>
            <div class="th batch-deletion">
                <span class="batch-dele-btn">批量删除</span>
            </div>
            <div class="th Settlement">
                <button class="layui-btn">结算</button>
            </div>
            <div class="th total">
                <p>应付：<span class="pieces-total">0</span></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.config({
        base: '/js/util/'
    }).use(['nav', 'car'], function () {
        let $ = layui.$,
            layer = layui.layer,
            element = layui.element, car = layui.car,
            nav = layui.nav, form = layui.form;


        let carousel = layui.carousel;
        //图片轮播
        carousel.render({
            elem: '#carousel'
            ,width: '1200px'
            ,height: '180px'
            ,interval: 5000
        });

        element.render('nav');

        // 注销
        $("#logout").click(function () {
            nav.logout();
        });

        // 模糊查询
        form.on('submit(search_form)', function (data) {
            location.href = "/gotoCommodity?searchCondition=" + data.field.searchCondition;
        });

        car.init();
    });
</script>
</body>
</html>