<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mall.dao.CommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopping.mall.entity.Commodity">
        <id column="commodity_id" property="commodityId" />
        <result column="commodity_name" property="commodityName" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="cover_img" property="coverImg" />
        <result column="show_img" property="showImg" />
        <result column="commodity_intro" property="commodityIntro" />
        <result column="sales_volume" property="salesVolume" />
        <result column="original_price" property="originalPrice" />
        <result column="selling_price" property="sellingPrice" />
        <result column="detail_content" property="detailContent" />
        <result column="commodity_status" property="commodityStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        commodity_id, commodity_name, category_id, category_name, cover_img, show_img , commodity_intro, sales_volume, original_price, selling_price, detail_content, commodity_status, create_time, update_time
    </sql>

</mapper>
