<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mall.dao.OrderFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopping.mall.entity.OrderFlow">
        <id column="flow_id" property="flowId" />
        <result column="flow_num" property="flowNum" />
        <result column="order_num" property="orderNum" />
        <result column="paid_amount" property="paidAmount" />
        <result column="paid_method" property="paidMethod" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        flow_id, flow_num, order_num, paid_amount, paid_method, create_time
    </sql>

</mapper>
